<tf-ng-header 
	[app-code]="routeData.appCode"
	[app-title]="routeData.appTitle"
>

	<div quickLinks *ngIf="routeData.quickLinks">
		
		<nz-dropdown 
			nzPlacement="bottomCenter"
			nzTrigger="click"
		>
			<button 
				nz-button 
				nz-dropdown
				class="quick-link-btn"
			>
				<tf-ng-hexagon 
					size="xl" 
					colour="aqua"
					outline-colour="blue"
				>
					<i nz-icon nzType="plus" nzTheme="outline"></i>
				</tf-ng-hexagon>
			</button>
			<ul nz-menu>
				<li nz-menu-item 	*ngFor="let option of routeData.quickLinks">
					{{  option.title }}
				</li>

			</ul>
		</nz-dropdown>
		
	</div>
	

	<tf-ng-client-logo 
		clientLogo
		*ngIf="routeData.clientLogoSrc"
		[client-logo-source]="routeData.clientLogoSrc"
		show-user-account="true"
		[is-open]="isUserAccountsMenuOpen"
		(is-open-clicked)="onUserAccountsMenuToggle($event)"
	>
		<ul nz-menu userAccountMenu class="user-account">
			<li nz-menu-item (click)="onUserAccountItemSelected('signout')">Sign Out</li>
		</ul>
	</tf-ng-client-logo>

</tf-ng-header>



<nz-modal 
	[(nzVisible)]="isSignOutModalVisible" 
	nzTitle="Log Out" 
	(nzOnCancel)="handleCancelSignOut()" 
	nzOkText="Yes, Log Me Out"
	(nzOnOk)="handleOkSignOut()"
>
	<p nzTypography>Please confirm that you would like to end your session and log out</p>
</nz-modal>