<tf-ng-page-title-breadcrumbs [show-back-button]="false">
	<span nz-typography><strong>Hello Beth,</strong> welcome to your dashboard</span>
</tf-ng-page-title-breadcrumbs>


<stats-responsive-example></stats-responsive-example>


<div nz-row [nzGutter]="16">
	<div nz-col nzSpan="12">
		<tf-ng-card>
			<h2 nz-typography>Most Popular Courses</h2>
			
			<nz-list 
				[nzHeader]="headerTemplate"
				[nzFooter]="footerTemplate"
			>
				<nz-list-item *ngFor="let item of dataMostPopular">
				
					<div nz-row>
						<div nz-col nzSpan="16">
							<span nz-typography>{{ item.name }}</span>
						</div>
						<div nz-col nzSpan="8" class="text-center">
							<span nz-typography class="blue">{{ item.registered }}</span>
						</div>
					</div>

				</nz-list-item>
			</nz-list>
		
		</tf-ng-card>
	</div>
	<div nz-col nzSpan="12">
		<tf-ng-card>
			<h2 nz-typography>Least Popular Courses</h2>
			
			<nz-list 
				[nzHeader]="headerTemplate"
				[nzFooter]="footerTemplate"
			>
				<nz-list-item *ngFor="let item of dataLeastPopular">
				
					<div nz-row>
						<div nz-col nzSpan="16">
							<span nz-typography>{{ item.name }}</span>
						</div>
						<div nz-col nzSpan="8" class="text-center">
							<span nz-typography class="blue">{{ item.registered }}</span>
						</div>
					</div>

				</nz-list-item>
			</nz-list>

		</tf-ng-card>
	</div>
</div>


<ng-template #headerTemplate>
	<div nz-row>
		<div nz-col nzSpan="16">Course</div>
		<div nz-col nzSpan="8" class="text-center">Course Code</div>
	</div>
</ng-template>


<ng-template #footerTemplate>
	<div nz-row>
		<div nz-col nzSpan="16">&nbsp;</div>
		<div nz-col nzSpan="8" class="text-center">
			<button nz-button nzBlock routerLink="/two" >View All</button>
		</div>
	</div>
</ng-template>