<tf-ng-side-drawer
  [opened]="isOpened"
  (opened-changed)="isOpened=$event"
>

  <ul
    nz-menu nzTheme="dark"
    [nzMode]="'inline'"
    class="slider-menu"
    *ngIf="navigationData"
  >

		<span *ngFor="let item of navigationData">
			<!-- Menu item with sub menu items -->
			<li
				*ngIf="item.hasSub"
				nz-submenu
			>
				<span title>{{ item.label }}</span>
				<ul>
					<li
						*ngFor="let subItem of item.subItems"
						nz-menu-item
            [routerLink]="subItem.routerLink"
            routerLinkActive="ant-menu-item-selected"
						(click)="onItemSelected()"
					>
						{{ subItem.label }}
					</li>
				</ul>
			</li>

			<!-- Menu item -->
			<li
				*ngIf="!item.hasSub"
				nz-menu-item
        [routerLink]="item.routerLink"
        routerLinkActive="ant-menu-item-selected"
				(click)="onItemSelected()"
			>
				<span title>{{ item.label }}</span>
			</li>

		</span>
	</ul>



  <tf-ng-item colour="dark" bottom>
    <h5 nz-typography class="white">Your apps</h5>
    <div nz-row [nzGutter]="[4, 4]">
      <div nz-col class="app-selection-row" nzJustify="start" [nzSpan]="4" *ngFor="let app of appList">
        <tf-ng-hexagon
          nz-tooltip
          [nzTooltipTitle]="app.name"
          nzTooltipOverlayClassName="tf-tooltip-white"
          nzTooltipPlacement="right"
          colour="white" outline-colour="blue"
          size="xs"
          (click)="onAppSelected(app.code)"
        >
          <i
            nz-icon
            nzType="appstore"
            nzTheme="outline"
            *ngIf="app.code ==='home'"
          ></i>
          <tf-ng-product-initials
            colour="blue"
            [code]="app.code"
            size="xs"
            *ngIf="app.code !=='home'"
          ></tf-ng-product-initials>
        </tf-ng-hexagon>
      </div>
    </div>
  </tf-ng-item>



</tf-ng-side-drawer>
