

<tf-ng-form-card>

	<form nz-form [formGroup]="validateForm" nzLayout="vertical" (ngSubmit)="submitForm()">

		<h3 nz-typography>Create Course</h3>
		<nz-divider></nz-divider>
		<nz-form-item>
			<nz-form-label nzRequired nzFor="email">E-mail</nz-form-label>
			<nz-form-control nzErrorTip="The input is not valid E-mail!">
				<input nz-input formControlName="email" id="email" />
			</nz-form-control>
		</nz-form-item>
		<nz-form-item>
			<nz-form-label nzFor="password" nzRequired>Password</nz-form-label>
			<nz-form-control nzErrorTip="Please input your password!">
				<input
					nz-input
					type="password"
					id="password"
					formControlName="password"
					(ngModelChange)="updateConfirmValidator()"
				/>

			</nz-form-control>
		</nz-form-item>
		<nz-form-item>
			<nz-form-label nzFor="checkPassword" nzRequired>Confirm Password</nz-form-label>
			<nz-form-control [nzErrorTip]="errorTpl">
				<input nz-input type="password" formControlName="checkPassword" id="checkPassword" />

				<ng-template #errorTpl let-control>
					<ng-container *ngIf="validateForm.get('checkPassword')?.dirty && validateForm.get('checkPassword')?.errors">
						Please confirm your password!
					</ng-container>
					<ng-container *ngIf="validateForm.get('checkPassword')?.hasError('confirm')">
						Two passwords that you enter is inconsistent!
					</ng-container>
				</ng-template>


			</nz-form-control>
		</nz-form-item>

		<nz-form-item>
			<nz-form-label nzFor="company" nzRequired>
				<span>
					Company
					<i nz-icon nz-tooltip nzTooltipTitle="The name of the company that is your training provider" nzType="question-circle" nzTheme="outline"></i>
				</span>
			</nz-form-label>
			<nz-form-control nzErrorTip="Please input your company name!">
				<input nz-input id="company" formControlName="company" />
			</nz-form-control>
		</nz-form-item>

		<nz-form-item>
			<nz-form-label nzFor="phoneNumber" nzRequired>Phone Number</nz-form-label>
			<nz-form-control nzErrorTip="Please input your phone number!" [nzValidateStatus]="validateForm.controls['phoneNumber']">
				<nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
					<ng-template #addOnBeforeTemplate>
						<nz-select formControlName="phoneNumberPrefix" style="width: 70px;">
							<nz-option nzLabel="+44" nzValue="+44"></nz-option>
							<nz-option nzLabel="+00" nzValue="+00"></nz-option>
						</nz-select>
					</ng-template>
					<input formControlName="phoneNumber" id="'phoneNumber'" nz-input />
				</nz-input-group>

			</nz-form-control>
		</nz-form-item>
		<nz-form-item>
			<nz-form-label nzFor="category" nzRequired>CATEGORY</nz-form-label>
			<nz-form-control nzErrorTip="Please input category!">
				<input nz-input id="category" formControlName="category" placeholder="The course category" />

			</nz-form-control>
		</nz-form-item>


		<div nz-row nzJustify="space-between">
			<nz-form-item>
				<nz-form-control >
					<label nz-checkbox formControlName="agree">
						<span>I have read the <strong><a class="underlined">agreement</a></strong></span>
					</label>
				</nz-form-control>
			</nz-form-item>
			<!-- <nzContainer> -->
				<button nz-button nzType="primary">Register</button>
			<!-- </nzContainer> -->
		</div>

	</form>

</tf-ng-form-card>


