<tf-ng-card>
	<h2 nz-typography>Standard Buttons</h2>
	<tf-ng-card-content>
		
		<div class="button-container">

			<button nz-button nzSize="small" nzType="primary">Small Button</button>

			<button nz-button nzType="default">Default</button>

			<button nz-button nzType="primary">Primary</button>
			
			<button nz-button nzSize="large" nzType="primary">Large Button</button>

			<button nz-button class="aqua">Primary</button>
		</div>

	</tf-ng-card-content>
</tf-ng-card>

<tf-ng-card>
	<h2 nz-typography>Buttons with Leading Icons</h2>
	<tf-ng-card-content>
		
		<div class="button-container">

		</div>

	</tf-ng-card-content>
</tf-ng-card>


<tf-ng-card>
	<h2 nz-typography>Buttons with Trailing Icons</h2>
	<tf-ng-card-content>
		
		<div class="button-container">

		</div>

	</tf-ng-card-content>
</tf-ng-card>

<tf-ng-card>
	<h2 nz-typography>Icon Buttons</h2>
	<tf-ng-card-content>
		
		<div class="button-container">

		</div>

	</tf-ng-card-content>
</tf-ng-card>