<tf-ng-card>

	<div nz-row [nzGutter]=[16,24]>

		<div nz-col nzXs="24" nzSm="12" nzMd="8">
			<tf-ng-stat-data-card>
				<span title>Unique Users</span>
				<span data>22</span>
			</tf-ng-stat-data-card>
		</div>

		<div nz-col nzXs="24" nzSm="12" nzMd="8">
			<tf-ng-stat-data-card>
				<span title>Active Assessments</span>
				<span data>7</span>
			</tf-ng-stat-data-card>
		</div>

		<div nz-col nzXs="24" nzSm="12" nzMd="8">
			<tf-ng-stat-data-card>
				<span title>Questions</span>
				<span data>96</span>
			</tf-ng-stat-data-card>
		</div>

    <div nz-col nzXs="24" nzSm="12" nzMd="8">
			<tf-ng-stat-data-card>
				<span title>Work Engagement</span>
				<span data>83%</span>
			</tf-ng-stat-data-card>
		</div>

		<div nz-col nzXs="24" nzSm="12" nzMd="8">
			<tf-ng-stat-data-card>
				<span title>Quiz Completion Rate</span>
				<span data>94%</span>
			</tf-ng-stat-data-card>
		</div>

		<div nz-col nzXs="24" nzSm="12" nzMd="8">
			<tf-ng-stat-data-card>
				<span title>Quiz Average Score</span>
				<span data>49%</span>
			</tf-ng-stat-data-card>
		</div>

	</div>

</tf-ng-card>
