<tf-ng-card>
	<h2 nz-typography>Icons</h2>
	<tf-ng-card-content>
		
		<div class="icon-container">
			<div class="icon">
				<i nz-icon nzType="check" nzTheme="outline"></i>
				<span nzTypography>check</span>
			</div>
			
			<div class="icon">
				<i nz-icon nzType="down" nzTheme="outline"></i>
				<span nzTypography>down</span>
			</div>

			<div class="icon">
				<i nz-icon nzType="up" nzTheme="outline"></i>
				<span nzTypography>up</span>
			</div>

			<div class="icon">
				<i nz-icon nzType="left" nzTheme="outline"></i>
				<span nzTypography>left</span>
			</div>

			<div class="icon">
				<i nz-icon nzType="right" nzTheme="outline"></i>
				<span nzTypography>right</span>
			</div>

			<div class="icon">
				<i nz-icon nzType="close" nzTheme="outline"></i>
				<span nzTypography>close</span>
			</div>

			<div class="icon">
				<i nz-icon nzType="mail" nzTheme="outline"></i>
				<span nzTypography>mail</span>
			</div>

			<div class="icon">
				<i nz-icon nzType="exclamation" nzTheme="outline"></i>
				<span nzTypography>exclamation</span>
			</div>

			<div class="icon">
				<i nz-icon nzType="bell" nzTheme="fill"></i>
				<span nzTypography>bell</span>
			</div>

			<div class="icon">
				<i nz-icon nzType="search" nzTheme="outline"></i>
				<span nzTypography>search</span>
			</div>

			<div class="icon">
				<i nz-icon nzType="user" nzTheme="outline"></i>
				<span nzTypography>user</span>
			</div>

			<div class="icon">
				<i nz-icon nzType="plus" nzTheme="outline"></i>
				<span nzTypography>plus</span>
			</div>

			<div class="icon">
				<i nz-icon nzType="minus" nzTheme="outline"></i>
				<span nzTypography>minus</span>
			</div>

			<div class="icon">
				<i nz-icon nzType="arrow-up" nzTheme="outline"></i>
				<span nzTypography>arrow-up</span>
			</div>

			<div class="icon">
				<i nz-icon nzType="arrow-down" nzTheme="outline"></i>
				<span nzTypography>arrow-down</span>
			</div>

			<div class="icon">
				<i nz-icon nzType="arrow-left" nzTheme="outline"></i>
				<span nzTypography>arrow-left</span>
			</div>

			<div class="icon">
				<i nz-icon nzType="arrow-right" nzTheme="outline"></i>
				<span nzTypography>arrow-right</span>
			</div>

			<div class="icon">
				<i nz-icon nzType="calendar" nzTheme="outline"></i>
				<span nzTypography>calendar</span>
			</div>

			<div class="icon">
				<i nz-icon nzType="folder" nzTheme="outline"></i>
				<span nzTypography>folder</span>
			</div>

			<div class="icon">
				<i nz-icon nzType="lock" nzTheme="fill"></i>
				<span nzTypography>lock</span>
			</div>

			<div class="icon">
				<i nz-icon nzType="unlock" nzTheme="fill"></i>
				<span nzTypography>unlock</span>
			</div>

			<div class="icon">
				<i nz-icon nzType="setting" nzTheme="fill"></i>
				<span nzTypography>setting</span>
			</div>

			
			<div class="icon">
				<i nz-icon nzType="tag" nzTheme="fill"></i>
				<span nzTypography>tag</span>
			</div>

		</div>

	</tf-ng-card-content>
</tf-ng-card>
