<h3 nz-typography class="white">Guide for naming of products and browser icons</h3>

<tf-ng-card>
	<h2 nz-typography>Browser Icons</h2>
	<tf-ng-card-content>

			<p nz-typography>The (favicon) icon that appears in the browser tab</p>
			<div class="row">
				<img src="assets/favicon-32x32.png">
				<span nz-typography>Please use the Transform mark logo</span>
			</div>
			<p nz-typography>There is a selection of favicon sizes available which you can <a href="assets/favicon.zip">download.</a></p>

			<div>
				<p nz-typography>For the main favicon itself, it's best for cross-browser compatibility not to use any HTML. Just name the file favicon.ico (included in the zip file) and place it in the root of your domain.</p>
				<p nz-typography>There are further options which might need to be implemented depending on the application. See this useful <a href="https://github.com/audreyr/favicon-cheat-sheet">favicon cheat sheet</a></p>
			</div>
			
			

	</tf-ng-card-content>
</tf-ng-card>

<tf-ng-card>
	<h2 nz-typography>Page Titles</h2>
	<tf-ng-card-content>
		<p nz-typography>Page name that shows in the browser tab</p>
			<div class="row">
				<span nz-typography class="navy"><Strong>Product abbreviation.</Strong></span>
				<span nz-typography class="navy"><strong>A Transform product.</strong></span>
			</div>
			<h4 nz-typography>Example:</h4>
			<span nz-typography class="navy"><strong>R3. A Transform Product</strong></span>

			<h4 nz-typography>Product abbreviations</h4>
			<div class="row">
				<tf-ng-product-initials code="r3" colour="navy" size="xl"></tf-ng-product-initials>
				<span nz-typography>R3</span>
				<span nz-typography>R3</span>
			</div>
			<div class="row">
				<tf-ng-product-initials code="vr" colour="navy" size="xl"></tf-ng-product-initials>
				<span nz-typography>VR</span>
				<span nz-typography>VR-Learn</span>
			</div>
			<div class="row">
				<tf-ng-product-initials code="vl" colour="navy" size="xl"></tf-ng-product-initials>
				<span nz-typography>VL+</span>
				<span nz-typography>Video-Learn</span>
			</div>
			<div class="row">
				<tf-ng-product-initials code="el" colour="navy" size="xl"></tf-ng-product-initials>
				<span nz-typography>EL</span>
				<span nz-typography>E-Learn</span>
			</div>
			<div class="row">
				<tf-ng-product-initials code="rp" colour="navy" size="xl"></tf-ng-product-initials>
				<span nz-typography>RP</span>
				<span nz-typography>Risk Profiler</span>
			</div>
			<div class="row">
				<tf-ng-product-initials code="bi" colour="navy" size="xl"></tf-ng-product-initials>
				<span nz-typography>Bi</span>
				<span nz-typography>Business intelligence - reporting tools</span>
			</div>
			<div class="row">
				<tf-ng-product-initials code="si" colour="navy" size="xl"></tf-ng-product-initials>
				<span nz-typography>Si</span>
				<span nz-typography>Simulators</span>
			</div>
			<div class="row">
				<tf-ng-product-initials code="cm" colour="navy" size="xl"></tf-ng-product-initials>
				<span nz-typography>CM</span>
				<span nz-typography>Competence Management</span>
			</div>
			<div class="row">
				<tf-ng-product-initials code="tm" colour="navy" size="xl"></tf-ng-product-initials>
				<span nz-typography>TM</span>
				<span nz-typography>Training Management</span>
			</div>
			<div class="row">
				<tf-ng-product-initials code="lm" colour="navy" size="xl"></tf-ng-product-initials>
				<span nz-typography>LM</span>
				<span nz-typography>Learning Management (standalone and basic version)</span>
			</div>
			<div class="row">
				<tf-ng-product-initials code="sm" colour="navy" size="xl"></tf-ng-product-initials>
				<span nz-typography>SM</span>
				<span nz-typography>Safety Management</span>
			</div>
			<div class="row">
				<tf-ng-product-initials code="mp" colour="navy" size="xl"></tf-ng-product-initials>
				<span nz-typography>MP</span>
				<span nz-typography>Global Training Marketplace</span>
			</div>

			<p nz-typography>For anything else, just use:</p>
			<div class="row">
				<tf-ng-product-initials code="t" colour="navy" size="xl"></tf-ng-product-initials>
				<span nz-typography>T</span>
				<span nz-typography>Transform</span>
			</div>



			<div>
				<p nz-typography>Any questions please ask <a href="mailto:dave.oliver@3tenergygroup.com">dave.oliver@3tenergygroup.com</a></p>
			</div>
	</tf-ng-card-content>
</tf-ng-card>