<tf-ng-card colour="white">
	<!-- <tf-ng-form-card> -->
    <form
      nz-form
      nzLayout="vertical"
    >

			<h3 nz-typography class="navy">Input Form Elements</h3>
			<nz-divider></nz-divider>

			<nz-form-item>
				<input nz-input placeholder="Basic usage" />
			</nz-form-item>



			<nz-form-item>
        <nz-form-label nzFor="email">E-mail</nz-form-label>
        <nz-form-control>
          <input nz-input id="email" />
        </nz-form-control>
      </nz-form-item>



			<nz-form-item>
        <nz-form-label nzRequired nzFor="email2">E-mail</nz-form-label>
        <nz-form-control>
					<input
						nz-input
						placeholder="Enter the email address you registered with"
						id="email2"
					/>
        </nz-form-control>
      </nz-form-item>



			<nz-form-item>
        <nz-form-label nzRequired nzFor="email3">E-mail</nz-form-label>
        <nz-form-control nzValidateStatus="error" nzHasFeedback nzErrorTip="That's not a valid email address">
					<input nz-input id="email3" />
        </nz-form-control>
      </nz-form-item>


			<nz-form-item>
				<nz-input-group [nzSuffix]="suffixSearch">
					<input
						placeholder="input search text"
						nz-input
						id="search"
					/>
				</nz-input-group>
			</nz-form-item>


			<nz-form-item>
				<nz-form-label nzFor="username">Username</nz-form-label>
				<nz-form-control nzErrorTip="The input is not valid E-mail!" >
					<nz-input-group [nzPrefix]="prefixUser">
						<input
							placeholder="Enter your username is the name you log in with"
							nz-input
							id="username"
						/>
					</nz-input-group>
				</nz-form-control>
			</nz-form-item>

    </form>

</tf-ng-card>


<ng-template #prefixUser>
	<i nz-icon nzType="user"></i>
</ng-template>
<ng-template #suffixSearch>
	<i nz-icon nzType="search"></i>
</ng-template>
