

	<tf-ng-card>

		<h2 nz-typography>Primary Product Logos</h2>
		<tf-ng-card-content>


			<div class="logo-container">

				<div class="logo-name-code">

					<tf-ng-hexagon colour="gradient" outline-colour="white" size="xl">
						<tf-ng-product-initials
							colour="white"
							code="bi"
							size="xl"
						></tf-ng-product-initials>
					</tf-ng-hexagon>

					<div class="name">
						Business intelligence - reporting tools
					</div>
					<div class="code">
						Product Code: <span>Bi</span>
					</div>
				</div>



				<div class="logo-name-code">

					<tf-ng-hexagon colour="gradient" outline-colour="white" size="xl">
						<tf-ng-product-initials
							colour="white"
							code="cm"
							size="xl"
						></tf-ng-product-initials>
					</tf-ng-hexagon>

					<div class="name">
						Competence Management
					</div>
					<div class="code">
						Product Code: <span>CM</span>
					</div>
				</div>

				<div class="logo-name-code">

					<tf-ng-hexagon colour="gradient" outline-colour="white" size="xl">
						<tf-ng-product-initials
							colour="white"
							code="el"
							size="xl"
						></tf-ng-product-initials>
					</tf-ng-hexagon>
					<div class="name">
						E-Learn
					</div>
					<div class="code">
						Product Code: <span>EL</span>
					</div>
				</div>

				<div class="logo-name-code">

					<tf-ng-hexagon colour="gradient" outline-colour="white" size="xl">
						<tf-ng-product-initials
							colour="white"
							code="lm"
							size="xl"
						></tf-ng-product-initials>
					</tf-ng-hexagon>
					<div class="name">
						Learning Management
					</div>
					<div class="code">
						Product Code: <span>LM</span>
					</div>
				</div>

				<div class="logo-name-code">

					<tf-ng-hexagon colour="gradient" outline-colour="white" size="xl">
						<tf-ng-product-initials
							colour="white"
							code="mp"
							size="xl"
						></tf-ng-product-initials>
					</tf-ng-hexagon>
					<div class="name">
						Global Training Marketplace
					</div>
					<div class="code">
						Product Code: <span>MP</span>
					</div>
				</div>

				<div class="logo-name-code">

					<tf-ng-hexagon colour="gradient" outline-colour="white" size="xl">
						<tf-ng-product-initials
							colour="white"
							code="r3"
							size="xl"
						></tf-ng-product-initials>
					</tf-ng-hexagon>
					<div class="name">
						R3
					</div>
					<div class="code">
						Product Code: <span>R3</span>
					</div>
				</div>

				<div class="logo-name-code">

					<tf-ng-hexagon colour="gradient" outline-colour="white" size="xl">
						<tf-ng-product-initials
							colour="white"
							code="rp"
							size="xl"
						></tf-ng-product-initials>
					</tf-ng-hexagon>
					<div class="name">
						Risk Profiler
					</div>
					<div class="code">
						Product Code: <span>RP</span>
					</div>
				</div>

				<div class="logo-name-code">

					<tf-ng-hexagon colour="gradient" outline-colour="white" size="xl">
						<tf-ng-product-initials
							colour="white"
							code="si"
							size="xl"
						></tf-ng-product-initials>
					</tf-ng-hexagon>
					<div class="name">
						Simulators
					</div>
					<div class="code">
						Product Code: <span>Si</span>
					</div>
				</div>

				<div class="logo-name-code">

					<tf-ng-hexagon colour="gradient" outline-colour="white" size="xl">
						<tf-ng-product-initials
							colour="white"
							code="sm"
							size="xl"
						></tf-ng-product-initials>
					</tf-ng-hexagon>
					<div class="name">
						Safety Management
					</div>
					<div class="code">
						Product Code: <span>SM</span>
					</div>
				</div>

				<div class="logo-name-code">

					<tf-ng-hexagon colour="gradient" outline-colour="white" size="xl">
						<tf-ng-product-initials
							colour="white"
							code="t"
							size="xl"
						></tf-ng-product-initials>
					</tf-ng-hexagon>
					<div class="name">
						Transform
					</div>
					<div class="code">
						Product Code: <span>T</span>
					</div>
				</div>

				<div class="logo-name-code">

					<tf-ng-hexagon colour="gradient" outline-colour="white" size="xl">
						<tf-ng-product-initials
							colour="white"
							code="tm"
							size="xl"
						></tf-ng-product-initials>
					</tf-ng-hexagon>

					<div class="name">
						Training Management
					</div>
					<div class="code">
						Product Code: <span>TM</span>
					</div>
				</div>

				<div class="logo-name-code">

					<tf-ng-hexagon colour="gradient" outline-colour="white" size="xl">
						<tf-ng-product-initials
							colour="white"
							code="vl"
							size="xl"
						></tf-ng-product-initials>
					</tf-ng-hexagon>
					<div class="name">
						Video-Learn
					</div>
					<div class="code">
						Product Code: <span>VL</span>
					</div>
				</div>

				<div class="logo-name-code">

					<tf-ng-hexagon colour="gradient" outline-colour="white" size="xl">
						<tf-ng-product-initials
							colour="white"
							code="vr"
							size="xl"
						></tf-ng-product-initials>
					</tf-ng-hexagon>
					<div class="name">
						VR-Learn
					</div>
					<div class="code">
						Product Code: <span>VR</span>
					</div>
				</div>

        <div class="logo-name-code">

					<tf-ng-hexagon colour="gradient" outline-colour="white" size="xl">
						<tf-ng-product-initials
							colour="white"
							code="bl"
							size="xl"
						></tf-ng-product-initials>
					</tf-ng-hexagon>
					<div class="name">
						Blended Learning
					</div>
					<div class="code">
						Product Code: <span>BL</span>
					</div>
				</div>

			</div>


		</tf-ng-card-content>


	</tf-ng-card>


	<tf-ng-card>
		<h2 nz-typography>Outlined Product Logos</h2>
		<tf-ng-card-content>


			<div class="logo-container">

				<div class="logo-name-code">

					<tf-ng-hexagon colour="white" outline-colour="navy" size="xl">
						<tf-ng-product-initials
							colour="navy"
							code="bi"
							size="xl"
						></tf-ng-product-initials>
					</tf-ng-hexagon>

				</div>



				<div class="logo-name-code">

					<tf-ng-hexagon colour="white" outline-colour="navy" size="xl">
						<tf-ng-product-initials
							colour="navy"
							code="cm"
							size="xl"
						></tf-ng-product-initials>
					</tf-ng-hexagon>

				</div>

				<div class="logo-name-code">

					<tf-ng-hexagon colour="white" outline-colour="navy" size="xl">
						<tf-ng-product-initials
							colour="navy"
							code="el"
							size="xl"
						></tf-ng-product-initials>
					</tf-ng-hexagon>

				</div>

				<div class="logo-name-code">

					<tf-ng-hexagon colour="white" outline-colour="navy" size="xl">
						<tf-ng-product-initials
							colour="navy"
							code="lm"
							size="xl"
						></tf-ng-product-initials>
					</tf-ng-hexagon>

				</div>

				<div class="logo-name-code">

					<tf-ng-hexagon colour="white" outline-colour="navy" size="xl">
						<tf-ng-product-initials
							colour="navy"
							code="mp"
							size="xl"
						></tf-ng-product-initials>
					</tf-ng-hexagon>

				</div>

				<div class="logo-name-code">

					<tf-ng-hexagon colour="white" outline-colour="navy" size="xl">
						<tf-ng-product-initials
							colour="navy"
							code="r3"
							size="xl"
						></tf-ng-product-initials>
					</tf-ng-hexagon>

				</div>

				<div class="logo-name-code">

					<tf-ng-hexagon colour="white" outline-colour="navy" size="xl">
						<tf-ng-product-initials
							colour="navy"
							code="rp"
							size="xl"
						></tf-ng-product-initials>
					</tf-ng-hexagon>

				</div>

				<div class="logo-name-code">

					<tf-ng-hexagon colour="white" outline-colour="navy" size="xl">
						<tf-ng-product-initials
							colour="navy"
							code="si"
							size="xl"
						></tf-ng-product-initials>
					</tf-ng-hexagon>

				</div>

				<div class="logo-name-code">

					<tf-ng-hexagon colour="white" outline-colour="navy" size="xl">
						<tf-ng-product-initials
							colour="navy"
							code="sm"
							size="xl"
						></tf-ng-product-initials>
					</tf-ng-hexagon>

				</div>

				<div class="logo-name-code">

					<tf-ng-hexagon colour="white" outline-colour="navy" size="xl">
						<tf-ng-product-initials
							colour="navy"
							code="t"
							size="xl"
						></tf-ng-product-initials>
					</tf-ng-hexagon>

				</div>

				<div class="logo-name-code">

					<tf-ng-hexagon colour="white" outline-colour="navy" size="xl">
						<tf-ng-product-initials
							colour="navy"
							code="tm"
							size="xl"
						></tf-ng-product-initials>
					</tf-ng-hexagon>


				</div>

				<div class="logo-name-code">

					<tf-ng-hexagon colour="white" outline-colour="navy" size="xl">
						<tf-ng-product-initials
							colour="navy"
							code="vl"
							size="xl"
						></tf-ng-product-initials>
					</tf-ng-hexagon>

				</div>

				<div class="logo-name-code">

					<tf-ng-hexagon colour="white" outline-colour="navy" size="xl">
						<tf-ng-product-initials
							colour="navy"
							code="vr"
							size="xl"
						></tf-ng-product-initials>
					</tf-ng-hexagon>

				</div>

        <div class="logo-name-code">

					<tf-ng-hexagon colour="white" outline-colour="navy" size="xl">
						<tf-ng-product-initials
							colour="navy"
							code="bl"
							size="xl"
						></tf-ng-product-initials>
					</tf-ng-hexagon>

				</div>



			</div>


		</tf-ng-card-content>


	</tf-ng-card>


	<tf-ng-card>
		<h2 nz-typography>Solid Colour Variations</h2>
		<tf-ng-card-content>
			<div class="logo-container">

				<div class="logo-name-code">
					<tf-ng-hexagon colour="navy" size="xl">
						<tf-ng-product-initials
							colour="white"
							code="bi"
							size="xl"
						></tf-ng-product-initials>
					</tf-ng-hexagon>
				</div>

				<div class="logo-name-code">
					<tf-ng-hexagon colour="blue" size="xl">
						<tf-ng-product-initials
							colour="white"
							code="cm"
							size="xl"
						></tf-ng-product-initials>
					</tf-ng-hexagon>
				</div>

				<div class="logo-name-code">
					<tf-ng-hexagon colour="grey" size="xl">
						<tf-ng-product-initials
							colour="navy"
							code="mp"
							size="xl"
						></tf-ng-product-initials>
					</tf-ng-hexagon>
				</div>

				<div class="logo-name-code">
					<tf-ng-hexagon colour="aqua" size="xl">
						<tf-ng-product-initials
							colour="navy"
							code="r3"
							size="xl"
						></tf-ng-product-initials>
					</tf-ng-hexagon>
				</div>

				<tf-ng-card-content colour="blue">
					<div class="logo-name-code">

						<tf-ng-hexagon colour="white" size="xl">
							<tf-ng-product-initials
								colour="blue"
								code="rp"
								size="xl"
							></tf-ng-product-initials>
						</tf-ng-hexagon>

					</div>
				</tf-ng-card-content>


			</div>
		</tf-ng-card-content>
	</tf-ng-card>

	<tf-ng-card>
		<h2 nz-typography>Outline Colour Variations</h2>
		<tf-ng-card-content>
			<div class="logo-container">

				<div class="logo-name-code">
					<tf-ng-hexagon colour="white" outline-colour="blue" size="xl">
						<tf-ng-product-initials
							colour="blue"
							code="si"
							size="xl"
						></tf-ng-product-initials>
					</tf-ng-hexagon>
				</div>


				<tf-ng-card-content colour="blue">
					<div class="logo-name-code">
						<tf-ng-hexagon colour="blue" outline-colour="white" size="xl">
							<tf-ng-product-initials
								colour="white"
								code="el"
								size="xl"
							></tf-ng-product-initials>
						</tf-ng-hexagon>
					</div>
				</tf-ng-card-content>



				<tf-ng-card-content colour="navy">
					<div class="logo-name-code">

						<tf-ng-hexagon colour="navy" outline-colour="grey" size="xl">
							<tf-ng-product-initials
								colour="grey"
								code="vl"
								size="xl"
							></tf-ng-product-initials>
						</tf-ng-hexagon>

					</div>
				</tf-ng-card-content>



				<tf-ng-card-content colour="blue">
					<div class="logo-name-code">

						<tf-ng-hexagon colour="blue" outline-colour="aqua" size="xl">
							<tf-ng-product-initials
								colour="aqua"
								code="vr"
								size="xl"
							></tf-ng-product-initials>
						</tf-ng-hexagon>

					</div>
				</tf-ng-card-content>







			</div>
		</tf-ng-card-content>
	</tf-ng-card>


	<tf-ng-card>
		<h2 nz-typography>Size Variations</h2>
		<tf-ng-card-content>
			<div class="logo-container">

				<div class="logo-name-code">

					<tf-ng-hexagon colour="navy"  size="xs">
						<tf-ng-product-initials
							colour="white"
							code="bi"
							size="xs"
						></tf-ng-product-initials>
					</tf-ng-hexagon>

					<div class="code">
						<span>extra-small : 'xs'</span>
					</div>
				</div>

				<div class="logo-name-code">

					<tf-ng-hexagon colour="blue" size="s">
						<tf-ng-product-initials
							colour="white"
							code="sm"
							size="s"
						></tf-ng-product-initials>
					</tf-ng-hexagon>

					<div class="code">
						<span>small : 's'</span>
					</div>
				</div>

				<div class="logo-name-code">

					<tf-ng-hexagon colour="gradient" outline-colour="white" size="m">
						<tf-ng-product-initials
							colour="white"
							code="lm"
							size="m"
						></tf-ng-product-initials>
					</tf-ng-hexagon>

					<div class="code">
						<span>medium : 'm'</span>
					</div>
				</div>

				<div class="logo-name-code blue">

					<tf-ng-hexagon colour="gradient" outline-colour="white" size="l">
						<tf-ng-product-initials
							colour="white"
							code="r3"
							size="l"
						></tf-ng-product-initials>
					</tf-ng-hexagon>

					<div class="code">
						<span>large : 'l'</span>
					</div>
				</div>

				<div class="logo-name-code blue">

					<tf-ng-hexagon colour="white" outline-colour="blue" size="xl">
						<tf-ng-product-initials
							colour="blue"
							code="t"
							size="xl"
						></tf-ng-product-initials>
					</tf-ng-hexagon>

					<div class="code">
						<span>extra-large : 'xl'</span>
					</div>
				</div>

				<div class="logo-name-code">


					<tf-ng-hexagon colour="blue" outline-colour="blue" size="xl">
						<tf-ng-product-initials
							colour="white"
							code="si"
							size="xl"
						></tf-ng-product-initials>
					</tf-ng-hexagon>

					<div class="code">
						<span>extra-large : 'xl'</span>
					</div>
				</div>

				<div class="logo-name-code">

					<tf-ng-hexagon colour="navy"size="l">
						<tf-ng-product-initials
							colour="grey"
							code="tm"
							size="l"
						></tf-ng-product-initials>
					</tf-ng-hexagon>
					<div class="code">
						<span>large : 'l'</span>
					</div>
				</div>

				<div class="logo-name-code">

					<tf-ng-hexagon colour="white" outline-colour="navy" size="m">
						<tf-ng-product-initials
							colour="navy"
							code="vl"
							size="m"
						></tf-ng-product-initials>
					</tf-ng-hexagon>

					<div class="code">
						<span>medium : 'm'</span>
					</div>
				</div>

				<div class="logo-name-code blue">

					<tf-ng-hexagon colour="white" outline-colour="blue" size="s">
						<tf-ng-product-initials
							colour="blue"
							code="vr"
							size="s"
						></tf-ng-product-initials>
					</tf-ng-hexagon>
					<div class="code">
						<span>small : 's'</span>
					</div>
				</div>

				<div class="logo-name-code">

					<tf-ng-hexagon colour="white" outline-colour="blue" size="xs">
						<tf-ng-product-initials
							colour="blue"
							code="sm"
							size="xs"
						></tf-ng-product-initials>
					</tf-ng-hexagon>

					<div class="code">
						<span>extra-small : 'xs'</span>
					</div>
				</div>


			</div>
		</tf-ng-card-content>
	</tf-ng-card>

	<tf-ng-card>
		<h2 nz-typography>Product Code/Initials Fallback</h2>
		<tf-ng-card-content>
			<p nz-typography>If the product code that is passed in to the component is not recognised, the component will render the code/initials as ordinary text. If no product code, then no initials will be rendered.</p>
			<div class="logo-container">

				<div class="logo-name-code">

					<tf-ng-hexagon colour="white" outline-colour="navy">
						<tf-ng-product-initials
							colour="navy"
							code="GB"
						></tf-ng-product-initials>
					</tf-ng-hexagon>
				</div>

				<div class="logo-name-code">

					<tf-ng-hexagon colour="gradient" outline-colour="white">
						<tf-ng-product-initials
							colour="white"
							code="BG"
						></tf-ng-product-initials>
					</tf-ng-hexagon>

				</div>

				<div class="logo-name-code">

					<tf-ng-hexagon colour="blue">
						<tf-ng-product-initials
							colour="white"
						></tf-ng-product-initials>
					</tf-ng-hexagon>

				</div>


			</div>
			<p nz-typography>This is a tempory option. If the product initials are not rendered properly then please inform <a href="mailto:dave.oliver@3tenergygroup.com">dave.oliver@3tenergygroup.com</a></p>
		</tf-ng-card-content>
	</tf-ng-card>
