<tf-ng-page-title-breadcrumbs *ngIf="user" (back-button-clicked)="onBackButtonClicked()">
	<nz-breadcrumb nzSeparator=">">
		<nz-breadcrumb-item>
			<a [routerLink]="['/th/dashboard']">Dashboard</a>
		</nz-breadcrumb-item>
		<nz-breadcrumb-item>
			<a [routerLink]="['/th/users']">Users</a>
		</nz-breadcrumb-item>
		<nz-breadcrumb-item>
			{{ user | getUsersFullName }}
		</nz-breadcrumb-item>
	</nz-breadcrumb>
</tf-ng-page-title-breadcrumbs>



<tf-ng-form-card>



	<form 
		*ngIf="user" 
		nz-form 
		nzLayout="vertical"
		[formGroup]="userDetailsForm" 
		(ngSubmit)="submitForm()"
	>

		<h3 nz-typography class="blue">{{ user | getUsersFullName }}</h3>
		<span nz-typography class="navy">{{ user.emailAddress }}</span>
		<nz-divider></nz-divider>
		
		<tf-ng-card colour="white">
			
	
			<div class="btn-container reset-password-card" >
				<div class="left" >
					<span nzTypography [ngClass]="userPasswordResetSent ? 'grey' : 'navy'">
						Issuing a password reset will send a 'Password Reset' code in a link to {{ user.emailAddress }}.
					<!-- <br />They have 48 hours to use the code by clicking the link. -->
				</span>
				</div>
			
				<button 
					nz-button 
					class="blue" 
					type="button" 
					[disabled]="userPasswordResetSent" 
					(click)="sendUserPasswordReset()"
				>Issue Password Reset</button>
			</div>
		</tf-ng-card>

		<nz-form-item>
			<nz-form-label [nzSm]="6" [nzXs]="24" nzFor="firstName">
				First Name
			</nz-form-label>
			<nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="You must include the users first name">
		
					<input 
						nz-input 
						id="firstName" 
						formControlName="firstName" 
						placeholder="First Name"
					/>

			</nz-form-control>
		</nz-form-item>



		<nz-form-item>
			<nz-form-label [nzSm]="6" [nzXs]="24" nzFor="lastName">
				Last Name
			</nz-form-label>
			<nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="You must include the users last name">
				<input nz-input id="lastName" formControlName="lastName" />
			</nz-form-control>
		</nz-form-item>

		<nz-form-item>
			<nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email">
				Email address
			</nz-form-label>
			<nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid Email Address">
				<input nz-input type="email" formControlName="email" id="email" />
			</nz-form-control>
		</nz-form-item>


		<nz-divider></nz-divider>
		<h4 class="blue">Users Products</h4>
		<nz-form-item>
			<!-- <nz-form-label nzFor="enabledProducts">
				Enabled Products
			</nz-form-label> -->
			<nz-select 
				nzMode="tags" 
				nzPlaceHolder="Add and Remove access to each available Transform product"
				id="enabledProducts"
				formControlName="enabledProducts"
			>
				<nz-option 
					*ngFor="let option of availableProducts" 
					[nzLabel]="option.productName" 
					[nzValue]="option.productId"

				></nz-option>
			</nz-select>
		</nz-form-item>
		

		<div class="btn-container">
			<nz-form-item>
				<nz-form-control>
					<label nz-checkbox formControlName="enabled">
						Enabled
					</label>
				</nz-form-control>
			</nz-form-item>
	
			<nz-form-item>
				<nz-form-control>
					<button 
						nz-button 
						type="submit"
						[ngClass]="!userDetailsForm.dirty || !userDetailsForm.valid ? 'grey' : 'aqua'"
						[disabled]="!userDetailsForm.dirty || !userDetailsForm.valid"
					>Save Changes</button>
				</nz-form-control>
			</nz-form-item>
		</div>
		

		

	</form>
	
</tf-ng-form-card>

