<tf-ng-card>
	<h2 nz-typography>Dropdown examples</h2>

	<tf-ng-card-content>
		<div nz-row>
			<div nz-col nzSpan="4">
				
				<!-- Left hand dropdown -->
				<nz-dropdown nzTrigger="click">
					<button 
						nz-button 
						nz-dropdown
						class="grey"
					>
						<span>Actions</span> 
						<i nz-icon type="down"></i>
					</button>
					<ul nz-menu>
						<li nz-menu-item>
							<a>Account Settings</a>
						</li>
						<li nz-menu-item>
							<a>Application Support</a>
						</li>	
						<li nz-menu-item>
							<a>License Information</a>
						</li>
						<li nz-menu-item>
							<a>Your Profile</a>
						</li>
					</ul>
				</nz-dropdown>
			
			</div>
			<div nz-col nzSpan="20" style="padding: 0 0.5rem;">
				<span nzTypography class="navy">Left hand side dropdown, activated by click</span>
			</div>
		</div>
	</tf-ng-card-content>
	<br />
	<tf-ng-card-content>
		<div nz-row>
			<div nz-col nzSpan="20" style="padding: 0 0.5rem;">
				<span nzTypography class="navy">Drop down activated from hovering over button, postion on the bottom right and includes spacer and disabled items in the menu</span>
			</div>
			<div nz-col nzSpan="4" class="text-right">

				<!-- Dropdown 2,  -->
				<nz-dropdown 
					nzTrigger="hover"
					nzPlacement="bottomRight"
				>
					<button 
						nz-button 
						nz-dropdown
					>
						<span>Actions</span> 
						<i nz-icon type="down"></i>
					</button>
					<ul nz-menu>
						<li nz-menu-item>1st menu item</li>
						<li nz-menu-item>2nd menu item</li>
						<li nz-menu-divider></li>
						<li nz-menu-item nzDisabled>disabled menu item</li>
						<li nz-menu-item>4th menu item</li>
					</ul>
				</nz-dropdown>
			</div>
			
		</div>
	</tf-ng-card-content>
	<br />
	<tf-ng-card-content>
		<div nz-row>
			<div nz-col nzSpan="12" >
				<span nzTypography class="navy">Menu appear bottom center for quick link processes</span>
			</div>
			<div nz-col nzSpan="12" class="text-centre">
				<nz-dropdown 
					nzPlacement="bottomCenter"
					nzTrigger="click"
				>
					<button 
						nz-button 
						nz-dropdown
						nzSize="large" 
						nzShape="circle" 
						class="navy"
					>
						<i nz-icon nzType="edit"></i>
					</button>
					<ul nz-menu>
						<li nz-menu-item>Add Course</li>
						<li nz-menu-item>Assign Course</li>
						<li nz-menu-item>Assign Category</li>
					</ul>
				</nz-dropdown>
			</div>
			
		</div>
	</tf-ng-card-content>

</tf-ng-card>

