
<tf-ng-page-title-breadcrumbs [show-back-button]="false">
	<span nz-typography><strong>Hello Beth,</strong> welcome to your dashboard</span>
</tf-ng-page-title-breadcrumbs>

<tf-ng-page-title-breadcrumbs [show-back-button]="false">
	<span nz-typography><strong>Page Title</strong></span>
</tf-ng-page-title-breadcrumbs>


<tf-ng-page-title-breadcrumbs (back-button-clicked)="onBackButtonClicked()">
	<nz-breadcrumb nzSeparator=">">
		<nz-breadcrumb-item>
			<a [routerLink]="['/']">Home</a>
		</nz-breadcrumb-item>
		<nz-breadcrumb-item>
			<a [routerLink]="['/one']">Parent Page</a>
		</nz-breadcrumb-item>
		<nz-breadcrumb-item>
			Breadcrumb
		</nz-breadcrumb-item>
	</nz-breadcrumb>
</tf-ng-page-title-breadcrumbs>

<tf-ng-page-title-breadcrumbs (back-button-clicked)="onBackButtonClicked()">
	<nz-breadcrumb nzSeparator=">">
		<nz-breadcrumb-item>
			<a [routerLink]="['/']">Home</a>
		</nz-breadcrumb-item>
		<nz-breadcrumb-item>
			<a [routerLink]="['/one']">Parent Page</a>
		</nz-breadcrumb-item>
		<nz-breadcrumb-item>
			Breadcrumb
		</nz-breadcrumb-item>
	</nz-breadcrumb>

	<button 
		nz-button 
		nzType="primary"
		right
	>Action</button>
</tf-ng-page-title-breadcrumbs>

<!-- <tf-ng-page-title-breadcrumbs (back-button-clicked)="onBackButtonClicked()">
	<nz-breadcrumb [nzSeparator]="iconTemplate">
		<nz-breadcrumb-item>
			<a [routerLink]="['/']">Home</a>
		</nz-breadcrumb-item>
		<nz-breadcrumb-item>
			<a [routerLink]="['/one']">Parent Page</a>
		</nz-breadcrumb-item>
		<nz-breadcrumb-item>
			Breadcrumb
		</nz-breadcrumb-item>
	</nz-breadcrumb>
</tf-ng-page-title-breadcrumbs>


<ng-template #iconTemplate><i nz-icon nzType="right"></i></ng-template> -->